* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.blue {
    width: 30%;
    background: blue;
    height: 500px;
    padding: 0;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    display: inline-flex;
}

/*.image {*/
/*    position: absolute;*/
/*    display: flex;*/
/*}*/

.white {
    width: 600px;
    height: 250px;
    background: white;
    border-top: solid 1px black;
    border-right: solid 1px black;
    padding: 0;
    display: inline-flex;
}

.red {
    width: 600px;
    height: 250px;
    background: red;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 0;
    display: inline-flex;
}

