* {
    box-sizing: border-box;
}

h3 {
    color: black;
}

section {
    background-color: lightskyblue;
    border: black 3px double;
    padding: 10px;
}

body {
    background-color: dimgrey;

}
