* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #CDDEFF;
    --text-info: #514EA5;

}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: solid 1px lightgrey;
    opacity: .8;
    border-radius: 5px;
}

.message-info {
    background: #CDDEFF;
    color: darkblue;
    /*border: solid lightgrey;*/
    /* OR */
    /*background: var(--blue);*/
    /*color: var(--text-info);*/
}

.message-success {
    background: lightgreen;
    color: darkgreen;
}

.message-warning {
    background: lightyellow;
    color: darkgoldenrod;
}

.message-error {
    background: palevioletred;
    color: darkred;
}