* {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    background-color: black;
}

.container:hover .overlay {
    opacity: .85;
}

/* the opacity can be set from 0 to 1; the lower the value, the more transparent */

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.fancy-header {
    color: purple;
    text-decoration: underline;
}

/*h1 {*/
/*    text-align: center;*/
/*}*/

/*h3 {*/
/*    text-decoration: underline;*/
/*    color: darkblue;*/
/*}*/

/*body {*/
/*    background-color: grey;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

h3 {
    font-family: cursive;
    text-decoration: strong;

}
